@charset "utf-8";

body{ padding-bottom:50px; -webkit-text-size-adjust:none;}
.body{ min-width:320px;}
.bodyinside{ padding-top:50px;}
.header{ height:50px;}
.header .logo{ float:left; width:132px; height:50px; background:url(../images/logo.png) no-repeat; background-size:100%; text-indent:-987em;}
.loginarea{ float:right; line-height:50px; padding-right:10px; font-size:1.1em; white-space:nowrap;}
.loginarea .f-member{ float:left; display:inline; font-size:1.5em; color:#ce0000; margin-right:5px;}
.loginarea .f-member:after{ content:'\e605';}
.loginarea a{ color:#111;}

/* nav */
.nav{ position:relative; width:100%; height:40px; background:#292929; font-size:1.1em; z-index:99;}
.nav-inside{ position:relative; height:100%; /*padding-right:40px;*/}
.nav-main{ width:100%; height:100%}
.nav-main li{ position:relative; float:left; width:20%; height:100%; overflow:hidden;}
.nav-main a{ display:block; height:26px; line-height:26px; color:#fff; margin-top:7px; padding:0 15px; border-left:1px solid #141414; border-right:1px solid #424242; text-align:center;}
.nav-main li:first-Child a{ border-left:1px solid #292929;}
.nav-main a.cur{ color:#fff;}
.nav-main i{ position:absolute; left:50%; bottom:-12px; font-style:normal; color:#292929; margin-left:-7px;}
.nav-main .cur i{ color:#fff;}
.nav-btn{ position:absolute; right:0; top:0; width:40px; height:100%; overflow:hidden; text-align:center; color:#444;}
.f-navbtn{ display:block;}
.f-navbtn:after{ line-height:40px; font-size:1.5em; content:'\e603';}
.sub-main{ position:absolute; right:0; top:40px; display:none; width:20%; text-align:center;}
.sub-main li{ width:100%; background:#292929; border-top:1px solid #eee; height:40px; line-height:40px;}
.sub-main a{ color:#fff;}
.sub-main i{ display:none;}

/* topbar */
.topbar{ position:fixed; top:0; left:0; width:100%; height:50px; line-height:50px; background:#292929; color:#fff; font-size:1.2em; text-align:center; font-weight:bold; z-index:99;}
.topbar .btn{ position:absolute; left:0; top:0; width:50px; height: 50px; border-right:1px solid #3f3f3f; color:#fff;}
.topbar .f-return:after{ content:'\E607'; font-size:1.9em; font-weight:400;}

/* pagination-focus */
.pagination-focus{ text-align:center; padding-top:3px;}
.pagination-focus span{ display:inline-block; width:6px; height:6px; border-radius:1em; background:#dedede; margin:0 3px;}
.pagination-focus .swiper-active-switch{ background:#febc02;}

/* popup */
.popup{ position:fixed; left:50%; top:40%; width:198px; height:38px; /*margin-left:-100px;*/ border:1px solid #000; border-radius:5px; z-index:999;}
.popup .bg{ width:100%; height:100%; background:#000; opacity:.7;}
.popup .info{ position:absolute; left:0; top:0; width:100%; height:100%; line-height:38px; color:#fff; text-align:center;}

/* popup-v2 */
.popup-v2{ display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:1000;}
.popup-v2-inside{ position:fixed; left:50%; width:280px; background:#fff; border-radius:5px; z-index:1000; margin-left:-140px;}
.popup-v2-hd{ position:relative; height:40px; line-height:40px; text-align:center; font-size:1.3em; padding-top:5px;}
.popup-v2-hd .f-close{ position:absolute; right:0; top:0; width:16px; height:16px; line-height: 16px; font-size:.9em; padding:10px;}
.popup-v2-hd .line{ display:block; width:234px; height:2px; overflow: hidden; background:url(../images/line.png) no-repeat; background-size:100%; margin:0 auto;}
.popup-v2-bd .appea{ padding:10px; color:#666;}

.social-box{ position:fixed; left:50%; top:28%; width:278px; height:160px; /*margin-left:-140px;*/ border:1px solid #000; border-radius:5px; z-index:999;}
.social-box .bg{ width:100%; height:100%; background:#000; opacity:.7;}
.social-box .info{ position:absolute; left:0; top:0; width:100%; height:100%;}
.social-box .hd{ padding:10px 10px 20px;}
.social-box .close{ float:right; width:16px; height:16px; line-height:16px; text-align:center; background:#fff; border-radius:8px; font-size:10px; color:#000;}
.social-ul{ display:-webkit-box; text-align:center; color:#fff;}
.social-ul li{ -webkit-box-flex:1;}
.social-ul a{ color:#fff;}
.social-ul .so1, .social-ul .so2, .social-ul .so3{ display:block; width:60px; height:60px; background:url(../images/social1.png) no-repeat; background-size:100%; margin:0 auto;}
.social-ul .so2{ background:url(../images/social2.png); background-size:100%;}
.social-ul .so3{ background:url(../images/social3.png); background-size:100%;}

/* bmbar */
.bmbar{ position:fixed; left:0; bottom:0; width:100%; height:30px; line-height:9px; padding:10px 0 5px; background:rgba(0,0,0,.8); z-index:900;}
.bmbar .txt{ float:left; color:#fff; font-size:.8em; color:#fff;}
.bmbar .txt span{ display:block; font-size:1.3em; color:#FFEC12;}
.f-close{ float:left; width:25px; height:25px; font-size:1.8em; padding:10px 5px 0; color:#a0a0a0;}
.f-close:after{ content: '\e609';}
.bmbar a{ float:right; border:1px solid #fff; border-radius:3px; color:#eee; margin-right:10px; padding:8px 10px;}